$color-grey: #a3a3a3;
$color-black: #0e0e0e;
$color-white: #fff;
$color-background: #f3f6f6;
$color-input-border: #dddddd;
$color-button: #1a18f7;
$color-error: #dc3545;

$padding: 10px;

/*mixin*/

@mixin border-radius($radiusTop: 4px, $radiusRight: 4px, $radiusBottom: 4px, $radiusLeft: 4px) {
	border-radius:$radiusTop $radiusRight $radiusBottom $radiusLeft;
	-webkit-border-radius:$radiusTop $radiusRight $radiusBottom $radiusLeft;
	-moz-border-radius:$radiusTop $radiusRight $radiusBottom $radiusLeft;
}

@mixin clearfix {
	clear: both;
	&:before,
	&:after {
		clear: both;
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
}

/* media mixins */

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}